@media (min-width: 1920px) {
  .Welcome-Main {
    .title-content {
      margin-top: 228px;
      margin-left: -354px;
      width: 700px;
      height: 450px;
      color: white;

      h1 {
        font-size: 72.016px;
      }
    }
    .main {
      top: 244px;
    }
  }

  .Down-Welcome-Main {
    height: 150vh;
  }

  .wrapper {
    height: 1192px !important;
    border-radius: 70px !important;
  }

  .Not-Found-Main {
    margin-left: 120px;
    position: absolute;
    left: 284px;
    width: 961px;
    margin-top: 146px;
    height: 1091px !important;
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(
      138deg,
      rgba(184, 5, 145, 0.9725490196) 0%,
      rgba(3, 9, 29, 0.8705882353) 82%,
      rgba(238, 0, 255, 0.8980392157) 95%,
      rgba(255, 255, 255, 0.9725490196) 100%
    );
  }

  .PlayList-Main {
    margin-left: 120px;
    position: absolute;
    left: 284px;
    width: 961px;
    margin-top: 146px;
    height: 1091px !important;
    background-color: #fff;
    border-bottom-left-radius: 92px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(
      138deg,
      rgba(121, 30, 101, 0.8823529412) 0%,
      rgba(40, 64, 142, 0.8705882353) 82%,
      rgba(238, 0, 255, 0.8980392157) 95%,
      rgba(255, 255, 255, 0.9725490196) 100%
    );
  }

  .Left-App-Side-Bar {
    position: absolute;
    width: 151px;
    height: 1090px;
    left: 1364px;
    top: 147px;
    background-color: rgba(255, 255, 255, 0.6901960784);
    border-bottom-right-radius: 64px;
  }

  .Popular-Main {
    margin-left: 120px;
    position: absolute;
    left: 284px;
    width: 961px;
    margin-top: 146px;
    height: 1091px !important;
    background-color: #fff;
    border-bottom-left-radius: 92px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(
      138deg,
      rgba(121, 30, 101, 0.8823529412) 0%,
      rgba(40, 64, 142, 0.8705882353) 82%,
      rgba(238, 0, 255, 0.8980392157) 95%,
      rgba(255, 255, 255, 0.9725490196) 100%
    );
  }
  .Old-Main {
    margin-left: 120px;
    position: absolute;
    left: 284px;
    width: 961px;
    margin-top: 146px;
    height: 1091px !important;
    background-color: #fff;
    border-bottom-left-radius: 92px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(
      138deg,
      rgba(121, 30, 101, 0.8823529412) 0%,
      rgba(40, 64, 142, 0.8705882353) 82%,
      rgba(238, 0, 255, 0.8980392157) 95%,
      rgba(255, 255, 255, 0.9725490196) 100%
    );
  }
  .Legendary-Main {
    margin-left: 120px;
    position: absolute;
    left: 284px;
    width: 961px;
    margin-top: 146px;
    height: 1091px !important;
    background-color: #fff;
    border-bottom-left-radius: 92px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(
      138deg,
      rgba(121, 30, 101, 0.8823529412) 0%,
      rgba(40, 64, 142, 0.8705882353) 82%,
      rgba(238, 0, 255, 0.8980392157) 95%,
      rgba(255, 255, 255, 0.9725490196) 100%
    );
  }
}
